.nav
{
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    //z-index: 5;
    &__banner
    {
        width: 100%;
          
        line-height: 15px;
        font-size: 11px;
        color: white;
        background-color: $orange;
        p
        {
            padding: 16px 30px;
        }
    }
    &__links
    {
        width: 90%;
        display: flex;
        justify-content: space-between;
        background: transparent;
        padding: 2em 0em ;
        @include    breakpoint-up(large)
        {
            align-items: center;
        }
        .links_container
        {
            display: flex;
            justify-content: flex-start;
            
            a
            {
                font-size: 11px;
                text-align: center;
                @include    breakpoint-up(large)
                {
                    font-size: 16px;
                    &:not(:last-of-type)
                    {
                    margin-right: 4em;
                    }
                }
                //display:block;             
                position: relative;
                overflow: hidden; 
                text-transform: uppercase;
                transition: color 1s cubic-bezier(0.11, 0.7, 0, 1);
                
                line-height: 1.8;
            }
             
            .link3:after
            {
                //position: absolute;
                //bottom: 0;
                //left: 0;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $yellow;
                content: "";
                //border-bottom: 1px solid #222;
                transform: translate3d(-101%,0,0);
                transition: transform 1s cubic-bezier(0.11, 0.7, 0, 1);
            }  
            .link3:hover:after
            {
                transform: translate3d(0,0,0);
            }
        }
        
        .mobile_link
        {
            a
            {
                font-size: 11px;
            }
        }

        .hamburger_menu
        {
            
            z-index: 6;
            padding-bottom: 20px;
            width: 38px;
            background-color: none;
            > span {
                display: block;
                width: 38px;
                height: 2px;
                background-color: white;
                transition: all 300ms ease-in-out;
                transform-origin: 3px 1px;
          
                &:not(:last-child){
                  margin-bottom: 5px;
                }
            }
        }
        .toggle {
            > span{
                width: 22px;
            }
            > span:first-child {
              transform: rotate(45deg);
              margin-bottom: 9px;
            }
            > span:last-child {
              transform: rotate(-45deg);
            }
          }

        .logo
        {
            background-color: $yellow;
            padding: 0.2em 0.6em;
            line-height: 1;
            h2
            {
                font-family: 'Acme', sans-serif;
                color: white;
                letter-spacing:  -4px;
                margin: 0;
            }
            &:hover
            {
                background-color: $yellowgreen;
            }
            @include    breakpoint-up(large)
            {
                transform: translateX(-50%);
            }
            
        }
    }
    &__linksb
    {
        a{
            color: $blue;
        }
    }
    &__linksy
    {
        a{
            color: $yellowgreen;
        }
    }
}