.sustainability
{
    background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/EE71F1A3-DE13-426D-906E-B1592C3FB774_1_201_a_1366x.jpg?v=1618868243");
    &__container
    {
        justify-content: center;
        h1
        {
            @include breakpoint-down(small){
                font-size: 36px;
                font-weight: 700;
            }
        }
    }
}


.initiatives
{
    background-image: none;
    h2{
        padding-bottom: 32px;
    }
    h2, h4{
        margin: 0;
        color: $yellowgreen;
    }
}

.initiative
{
    p
    {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1;
    }
}

.revive
{
    margin-bottom: 2rem;
    background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/20210320_SABAI_DRE_3201_2_1366x.jpg?v=1618868369");
}

.replace
{
    background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/20210320_SABAI_DRE_1307_1366x.jpg?v=1618594270");
}

.revive, .replace
{
    height: 588px;
    h2{
        margin: 0;
        padding: 0 0 27.5px;
        
    }
    h4{
        margin: 0;
        padding: 0 0 32px; 
    }
}

.initiative
{
    a
    {
        font-size: 13px;
        padding-bottom: 13px;
    }
}

.other
{
    &__line1, &__line2, &__line3, &__line4
    {
        width:100%;
        display: flex;
        @include breakpoint-down(smedium)
        {
            flex-direction: column;
            align-items: center;
        }
    }
    &__line2, &__line4
    {
        justify-content: space-between;
    }
    &__line3
    {
        justify-content: center;
    }
    &__header
    {
        text-align: left;
        width: 50%;
        @include breakpoint-down(smedium)
        {
            width: 100%;
        }
    }
    &__figure1, &__figure2, &__figure3, &__figure4, &__figure5, &__figure6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover
        {
            img
            {
                transform: translateY(-8px);
            }
            p
            {
            transform: translateY(-18px);

            }
            .other__underline1 , .other__underline2, .other__underline3,
            .other__underline4, .other__underline5, .other__underline6
            {
                display: block;
            } 
        }
        @include breakpoint-down(smedium)
        {
            margin-bottom: 3em;
        }
    }
    &__figure1
    {
        width: 30%;
        transform: translateX(25%);
        color: $blue;
        @include breakpoint-down(smedium)
        {
            transform: translateX(0);
            width: 50%;
        }
    } 
    &__figure2, &__figure3
    {
        width:35%;
        @include breakpoint-down(smedium)
        {
            width: 50%;
        }
    }
    &__figure5, &__figure6
    {
        width: 40%;
        @include breakpoint-down(smedium)
        {
            width: 50%;
        }
    }
    &__figure4
    {
        width: 44%;
        transform: translate(10%,-27%);
        color: $blue;
        @include breakpoint-down(smedium)
        {
            transform: translate(0,0);
            width: 50%;
        }
    }
    &__figure5
    {
        transform: translateY(-30%);
        color: $orange;
        @include breakpoint-down(smedium)
        {
            transform: translateX(0);
        }
    }
    &__figure2, &__figure6
    {
        color: $yellow;
    }
    &__figure3
    {
        color: $orange;
    }
    p
    {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        //margin-top: -50px;
        transition: all 700ms ease;
    }
    img
    {
        width: 100%;
        height: auto;
    }
    &__underline1, &__underline2, &__underline3,
    &__underline4, &__underline5, &__underline6
    {
        display: none;
        width: 45px;
        height: 2px;
        //background-color: black;
        transition: all 800ms ease;
    }
    &__underline1
    {
        background-color: $blue;
    }
    &__underline2
    {
        background-color: $yellow;
    }
    &__underline3
    {
        background-color: $orange;
    }
    &__underline4
    {
        background-color: $blue;
    }
    &__underline5
    {
        background-color: $orange;
    }
    &__underline6
    {
        background-color: $yellow;
    }
    
}