@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Noto+Serif&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: $bg;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  word-spacing: 4px;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: 'Noto Serif', serif;
  font-family: "Amiri", serif;
  //font-family: 'Acme', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 14px;
}

h1 {
  color: white;
  font-size: 96px;
  word-spacing: -5px;
  @include breakpoint-down(medium) {
    font-size: 72px;
  }
  @include breakpoint-down(smedium) {
    font-size: 50px;
    font-weight: 700;
  }
}

h2 {
  color: $yellowgreen;
  font-size: 55px;
  word-spacing: -3px;
  @include breakpoint-down(medium) {
    font-size: 44px;
  }
  @include breakpoint-down(smedium) {
    font-size: 36px;
  }
}

h4 {
  color: $yellowgreen;
  font-size: 32px;
  @include breakpoint-down(medium) {
    font-size: 24px;
  }
  @include breakpoint-down(smedium) {
    font-size: 20px;
  }
}

a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}
button {
  border: none;
  text-decoration: none;
  background-color: transparent;
}
.btn {
  button {
    border: none;
    text-decoration: none;
    background-color: white;
    color: $yellow;
    padding: 15px 30px;
    border: 3px solid $yellow;
    transition: all 220ms ease-in-out;
    &:hover {
      background-color: $yellow;
      p {
        color: white;
      }
      a {
        color: white;
      }
    }
    p {
      color: $yellow;
    }
    a {
      color: $yellow;
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  @include breakpoint-up(medium) {
    width: 1200px;
  }
}

.article_section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 90px 0;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.section1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px 0;
  background: white;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
