.hero
{

    //position: absolute;
    //top: 0;

    width: 100%;
    height: 100vh;
    //overflow : scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0089/4487/7630/files/32CE99F0-A3C5-4600-B400-0BC9D73C42C9_1_201_a_3c4e01cb-ba09-4706-95eb-f3885a337ec9_1600x900.jpg?v=1618796411");
    //padding-top: 144px;
    @include breakpoint-up(xlarge){
        height: 764px;
    }
    &__container
    {
        width: 100%;
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
    }
    &__textbox
    {
        display:flex;
        flex-direction: column;
    }
    
}