@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Noto+Serif&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Archivo', sans-serif;
  background-color: #f8f4ef;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  word-spacing: 4px;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amiri', serif;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 14px;
}

h1 {
  color: white;
  font-size: 96px;
  word-spacing: -5px;
}

@media (max-width: 64.0625em) {
  h1 {
    font-size: 72px;
  }
}

@media (max-width: 47.5em) {
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
}

h2 {
  color: #806e28;
  font-size: 55px;
  word-spacing: -3px;
}

@media (max-width: 64.0625em) {
  h2 {
    font-size: 44px;
  }
}

@media (max-width: 47.5em) {
  h2 {
    font-size: 36px;
  }
}

h4 {
  color: #806e28;
  font-size: 32px;
}

@media (max-width: 64.0625em) {
  h4 {
    font-size: 24px;
  }
}

@media (max-width: 47.5em) {
  h4 {
    font-size: 20px;
  }
}

a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.btn button {
  border: none;
  text-decoration: none;
  background-color: white;
  color: #ffb600;
  padding: 15px 30px;
  border: 3px solid #ffb600;
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

.btn button:hover {
  background-color: #ffb600;
}

.btn button:hover p {
  color: white;
}

.btn button:hover a {
  color: white;
}

.btn button p {
  color: #ffb600;
}

.btn button a {
  color: #ffb600;
}

.error_container {
  width: 400px;
  text-align: start;
}

@media (max-width: 47.5em) {
  .error_container {
    width: 100%;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 20px;
}

@media (min-width: 40em) {
  .container {
    width: 1200px;
  }
}

.article_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 90px 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 60px 0;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 60px 0;
  background: white;
}

@media (max-width: 64.0625em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64.125em) {
  .hide-for-desktop {
    display: none;
  }
}

.nav {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__banner {
  width: 100%;
  line-height: 15px;
  font-size: 11px;
  color: white;
  background-color: #e17626;
}

.nav__banner p {
  padding: 16px 30px;
}

.nav__links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  padding: 2em 0em;
}

@media (min-width: 64.125em) {
  .nav__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__links .links_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav__links .links_container a {
  font-size: 11px;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  -webkit-transition: color 1s cubic-bezier(0.11, 0.7, 0, 1);
  transition: color 1s cubic-bezier(0.11, 0.7, 0, 1);
  line-height: 1.8;
}

@media (min-width: 64.125em) {
  .nav__links .links_container a {
    font-size: 16px;
  }
  .nav__links .links_container a:not(:last-of-type) {
    margin-right: 4em;
  }
}

.nav__links .links_container .link3:after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffb600;
  content: "";
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.11, 0.7, 0, 1);
  transition: -webkit-transform 1s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 1s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 1s cubic-bezier(0.11, 0.7, 0, 1), -webkit-transform 1s cubic-bezier(0.11, 0.7, 0, 1);
}

.nav__links .links_container .link3:hover:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav__links .mobile_link a {
  font-size: 11px;
}

.nav__links .hamburger_menu {
  z-index: 6;
  padding-bottom: 20px;
  width: 38px;
  background-color: none;
}

.nav__links .hamburger_menu > span {
  display: block;
  width: 38px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.nav__links .hamburger_menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.nav__links .toggle > span {
  width: 22px;
}

.nav__links .toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 9px;
}

.nav__links .toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__links .logo {
  background-color: #ffb600;
  padding: 0.2em 0.6em;
  line-height: 1;
}

.nav__links .logo h2 {
  font-family: 'Acme', sans-serif;
  color: white;
  letter-spacing: -4px;
  margin: 0;
}

.nav__links .logo:hover {
  background-color: #806e28;
}

@media (min-width: 64.125em) {
  .nav__links .logo {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.nav__linksb a {
  color: #1d1b3e;
}

.nav__linksy a {
  color: #806e28;
}

.sidebar__basic {
  display: none;
}

.sidebar__overlay {
  position: fixed;
  background-color: #ccb560;
  top: 0;
  min-height: 100vh;
  width: 100%;
}

.sidebar__container {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 147px 0 0 0;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.sidebar__container a {
  margin: 1em 0;
}

.expectMore {
  background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/F5050916-FD64-4DEA-B582-8A3BDD54E500_1_201_a_53202586-9d36-4f52-a377-a17035f7db00_1366x.jpg?v=1619022333");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.expectMore h2, .expectMore h4 {
  max-width: 470px;
  color: white;
  text-align: left;
  margin-bottom: 24px;
}

.expectMore h2 {
  margin-top: 1em;
}

.expectMore button {
  margin-bottom: 250px;
}

.partners {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media (max-width: 47.5em) {
  .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.partners__box {
  width: 100%;
  padding: 15px;
}

.partners__box img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.sitation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.offres1, .offres2, .offres3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 47.5em) {
  .offres1, .offres2, .offres3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3em;
  }
}

.offres1 .content, .offres2 .content, .offres3 .content {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offres1 .content img, .offres2 .content img, .offres3 .content img {
  width: 100%;
  height: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.offres1 .content p, .offres2 .content p, .offres3 .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: -50px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

@media (max-width: 47.5em) {
  .offres1 .content p, .offres2 .content p, .offres3 .content p {
    margin: 0;
  }
}

.offres1 .content .underline1, .offres1 .content .underline2, .offres1 .content .underline3, .offres2 .content .underline1, .offres2 .content .underline2, .offres2 .content .underline3, .offres3 .content .underline1, .offres3 .content .underline2, .offres3 .content .underline3 {
  display: none;
  width: 45px;
  height: 2px;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.offres1 .content:hover img, .offres2 .content:hover img, .offres3 .content:hover img {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.offres1 .content:hover p, .offres2 .content:hover p, .offres3 .content:hover p {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.offres1 .content:hover .underline1, .offres1 .content:hover .underline2, .offres1 .content:hover .underline3, .offres2 .content:hover .underline1, .offres2 .content:hover .underline2, .offres2 .content:hover .underline3, .offres3 .content:hover .underline1, .offres3 .content:hover .underline2, .offres3 .content:hover .underline3 {
  display: block;
}

.offres1 .content:hover .underline1, .offres2 .content:hover .underline1, .offres3 .content:hover .underline1 {
  background-color: #e17626;
}

.offres1 .content:hover .underline2, .offres2 .content:hover .underline2, .offres3 .content:hover .underline2 {
  background-color: #ffb600;
}

.offres1 .content:hover .underline3, .offres2 .content:hover .underline3, .offres3 .content:hover .underline3 {
  background-color: #1d1b3e;
}

.offres1 {
  color: #e17626;
}

.offres2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ffb600;
}

.offres2 .content {
  margin-top: -70px;
}

@media (max-width: 47.5em) {
  .offres2 .content {
    margin: 0;
  }
}

@media (max-width: 47.5em) {
  .offres2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offres3 {
  color: #1d1b3e;
}

.offres3 .content {
  margin-top: -70px;
}

@media (max-width: 47.5em) {
  .offres3 .content {
    margin: 0;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url("https://cdn.shopify.com/s/files/1/0089/4487/7630/files/32CE99F0-A3C5-4600-B400-0BC9D73C42C9_1_201_a_3c4e01cb-ba09-4706-95eb-f3885a337ec9_1600x900.jpg?v=1618796411");
}

@media (min-width: 87.5em) {
  .hero {
    height: 764px;
  }
}

.hero__container {
  width: 100%;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

@media (max-width: 47.5em) {
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer a {
  color: #806e28;
  padding: 8px;
  cursor: pointer;
}

.footer a:hover {
  color: #ffb600;
}

.footer__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: top;
      align-content: top;
}

@media (max-width: 47.5em) {
  .footer__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 47.5em) {
  .footer__contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.5em) {
  .footer__form {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

@media (max-width: 47.5em) {
  .footer__form form {
    width: 100%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__form input {
  width: 400px;
  color: #806e28;
  border: none;
  border-bottom: 2px solid #ccb560;
  padding: 5px;
  font-family: 'Amiri', serif;
  font-size: 32px;
}

@media (max-width: 47.5em) {
  .footer__form input {
    width: 100%;
    font-size: 28px;
  }
}

@media (max-width: 39.9375em) {
  .footer__form input {
    font-size: 24px;
  }
}

.footer__form input:focus {
  outline: none;
}

.footer__form button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 47.5em) {
  .footer__social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social_links img {
  width: 26px;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.5em) {
  .footer__label {
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 47.5em) {
  .footer__icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
  }
}

.footer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__user a {
  font-size: 14px;
}

@media (max-width: 47.5em) {
  .footer__user {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.swatches {
  padding-top: 220px;
}

.swatches__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  width: 1200px;
  padding: 0 50px;
}

@media (max-width: 47.5em) {
  .swatches__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 20px 0 20px;
  }
}

.swatches__textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

@media (max-width: 47.5em) {
  .swatches__textcontainer {
    padding: 0;
    margin-top: 20px;
  }
}

.swatches__imgwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swatches__imgwrapper img {
  width: 100%;
  height: auto;
}

.swatches__secondcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 1100px;
  padding: 15px;
}

.swatches__secondcontainer p {
  width: 65%;
  text-align: start;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 16px;
}

@media (max-width: 47.5em) {
  .swatches__secondcontainer {
    width: 100%;
  }
}

.swatches__subtitlecontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 47.5em) {
  .swatches__subtitlecontainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .swatches__subtitlecontainer button {
    width: 100%;
  }
}

.swatches__gridcontainer {
  width: 100%;
  margin-top: 20px;
}

.swatches__grid_innercontainer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 36.66px;
}

@media (max-width: 47.5em) {
  .swatches__grid_innercontainer {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 20px;
  }
}

.swatches__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.swatches__card img {
  z-index: -1;
  width: 100%;
  height: auto;
}

.swatches__text_container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: 20%;
}

.swatches__text_container p {
  width: 100%;
  z-index: 3;
  text-align: center;
  font-size: 16px;
}

.sustainability {
  background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/EE71F1A3-DE13-426D-906E-B1592C3FB774_1_201_a_1366x.jpg?v=1618868243");
}

.sustainability__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 39.9375em) {
  .sustainability__container h1 {
    font-size: 36px;
    font-weight: 700;
  }
}

.initiatives {
  background-image: none;
}

.initiatives h2 {
  padding-bottom: 32px;
}

.initiatives h2, .initiatives h4 {
  margin: 0;
  color: #806e28;
}

.initiative p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

.revive {
  margin-bottom: 2rem;
  background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/20210320_SABAI_DRE_3201_2_1366x.jpg?v=1618868369");
}

.replace {
  background-image: url("//cdn.shopify.com/s/files/1/0089/4487/7630/files/20210320_SABAI_DRE_1307_1366x.jpg?v=1618594270");
}

.revive, .replace {
  height: 588px;
}

.revive h2, .replace h2 {
  margin: 0;
  padding: 0 0 27.5px;
}

.revive h4, .replace h4 {
  margin: 0;
  padding: 0 0 32px;
}

.initiative a {
  font-size: 13px;
  padding-bottom: 13px;
}

.other__line1, .other__line2, .other__line3, .other__line4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 47.5em) {
  .other__line1, .other__line2, .other__line3, .other__line4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.other__line2, .other__line4 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other__line3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other__header {
  text-align: left;
  width: 50%;
}

@media (max-width: 47.5em) {
  .other__header {
    width: 100%;
  }
}

.other__figure1, .other__figure2, .other__figure3, .other__figure4, .other__figure5, .other__figure6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other__figure1:hover img, .other__figure2:hover img, .other__figure3:hover img, .other__figure4:hover img, .other__figure5:hover img, .other__figure6:hover img {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.other__figure1:hover p, .other__figure2:hover p, .other__figure3:hover p, .other__figure4:hover p, .other__figure5:hover p, .other__figure6:hover p {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.other__figure1:hover .other__underline1, .other__figure1:hover .other__underline2, .other__figure1:hover .other__underline3,
.other__figure1:hover .other__underline4, .other__figure1:hover .other__underline5, .other__figure1:hover .other__underline6, .other__figure2:hover .other__underline1, .other__figure2:hover .other__underline2, .other__figure2:hover .other__underline3,
.other__figure2:hover .other__underline4, .other__figure2:hover .other__underline5, .other__figure2:hover .other__underline6, .other__figure3:hover .other__underline1, .other__figure3:hover .other__underline2, .other__figure3:hover .other__underline3,
.other__figure3:hover .other__underline4, .other__figure3:hover .other__underline5, .other__figure3:hover .other__underline6, .other__figure4:hover .other__underline1, .other__figure4:hover .other__underline2, .other__figure4:hover .other__underline3,
.other__figure4:hover .other__underline4, .other__figure4:hover .other__underline5, .other__figure4:hover .other__underline6, .other__figure5:hover .other__underline1, .other__figure5:hover .other__underline2, .other__figure5:hover .other__underline3,
.other__figure5:hover .other__underline4, .other__figure5:hover .other__underline5, .other__figure5:hover .other__underline6, .other__figure6:hover .other__underline1, .other__figure6:hover .other__underline2, .other__figure6:hover .other__underline3,
.other__figure6:hover .other__underline4, .other__figure6:hover .other__underline5, .other__figure6:hover .other__underline6 {
  display: block;
}

@media (max-width: 47.5em) {
  .other__figure1, .other__figure2, .other__figure3, .other__figure4, .other__figure5, .other__figure6 {
    margin-bottom: 3em;
  }
}

.other__figure1 {
  width: 30%;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  color: #1d1b3e;
}

@media (max-width: 47.5em) {
  .other__figure1 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50%;
  }
}

.other__figure2, .other__figure3 {
  width: 35%;
}

@media (max-width: 47.5em) {
  .other__figure2, .other__figure3 {
    width: 50%;
  }
}

.other__figure5, .other__figure6 {
  width: 40%;
}

@media (max-width: 47.5em) {
  .other__figure5, .other__figure6 {
    width: 50%;
  }
}

.other__figure4 {
  width: 44%;
  -webkit-transform: translate(10%, -27%);
          transform: translate(10%, -27%);
  color: #1d1b3e;
}

@media (max-width: 47.5em) {
  .other__figure4 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 50%;
  }
}

.other__figure5 {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  color: #e17626;
}

@media (max-width: 47.5em) {
  .other__figure5 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.other__figure2, .other__figure6 {
  color: #ffb600;
}

.other__figure3 {
  color: #e17626;
}

.other p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.other img {
  width: 100%;
  height: auto;
}

.other__underline1, .other__underline2, .other__underline3, .other__underline4, .other__underline5, .other__underline6 {
  display: none;
  width: 45px;
  height: 2px;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.other__underline1 {
  background-color: #1d1b3e;
}

.other__underline2 {
  background-color: #ffb600;
}

.other__underline3 {
  background-color: #e17626;
}

.other__underline4 {
  background-color: #1d1b3e;
}

.other__underline5 {
  background-color: #e17626;
}

.other__underline6 {
  background-color: #ffb600;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 210px 20px 0 20px;
}

.about__title {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #806e28;
  padding-bottom: 110px;
}

.about__title h1 {
  color: #806e28;
}

.about__subtitle {
  padding: 110px 110px 80px 110px;
}

@media (max-width: 47.5em) {
  .about__subtitle {
    padding: 40px 0;
  }
}

.about__subtitle h2 {
  text-align: left;
}

.ourMission h4 {
  margin-bottom: 350px;
}

.details__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details__image {
  width: 60%;
}

.details__image img {
  width: 100%;
  height: auto;
}

@media (max-width: 47.5em) {
  .details__image {
    display: none;
  }
}

.details__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  text-align: left;
  padding-right: 2%;
}

.details__text p {
  margin-bottom: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
}

@media (max-width: 47.5em) {
  .details__text {
    width: 99%;
  }
}

.details__info {
  position: relative;
}

.details__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 2px #806e28;
  margin-top: 16px;
  padding: 10px 0;
}

.details__menu button {
  background-color: transparent;
  border: none;
  color: #806e28;
}

.details__menu button .arrow {
  width: 30px;
  height: auto;
}

.details__menu button .arrow:hover {
  color: #ffb600;
}

.details__content img {
  width: 100%;
  height: auto;
}

@media (min-width: 47.4375em) {
  .details__content img {
    display: none;
  }
}

.ready {
  position: relative;
}

.ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready__images {
  width: 57%;
}

.ready__images img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.ready__text {
  top: 15%;
  width: 41%;
  position: sticky;
  position: -webkit-sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.product {
  padding-top: 170px;
}

.product__path a {
  color: #1d1b3e;
}

.product__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

@media (max-width: 47.5em) {
  .product__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__pictures {
  position: relative;
  width: 70%;
}

@media (max-width: 47.5em) {
  .product__pictures {
    width: 100%;
  }
}

.product__pictures_container {
  top: 5%;
  position: sticky;
  position: -webkit-sticky;
}

.product__pictures_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__pictures_nav img .carousel__image--success {
  width: 100%;
  height: auto;
  -webkit-transform: rotate(90);
          transform: rotate(90);
}

.product__pictures_nav button {
  color: #806e28;
}

.product__pictures_nav .arrow {
  padding: 0 2em;
}

@media (max-width: 47.5em) {
  .product__pictures_nav .arrow {
    display: none;
  }
}

.product__pictures_nav .dot {
  padding: 0 4px;
}

.product__pictures_nav .carousel__dot--selected {
  color: #ffb600;
}

.product__infotext {
  width: 30%;
  text-align: start;
  color: #1d1b3e;
}

@media (max-width: 47.5em) {
  .product__infotext {
    width: 100%;
  }
}

.product__infotext .line {
  width: 100%;
  height: 2px;
  background-color: #806e28;
}

.product__infotext .price h4 {
  font-weight: 700;
  font-size: 20px;
  color: #1d1b3e;
}

.product__infotext .price p {
  font-size: 12px;
}

.product__infotext .qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

.product__infotext .qualities__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}

.product__infotext .qualities__block p {
  font-size: 11px;
}

.product__infotext .qualities__block img {
  width: 22px;
  height: auto;
  margin-right: 10px;
}

.product__infotext .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product__infotext .choose h4 {
  color: #806e28;
  padding-top: 10px;
}

.product__infotext .choose p {
  font-weight: bold;
}

.product__infotext .fabric {
  gap: 10px;
  padding-bottom: 15px;
}

.product__infotext .fabric p {
  font-size: 12px;
}

@media (max-width: 47.5em) {
  .product__infotext .fabric {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
  }
  .product__infotext .fabric p {
    font-size: 9px;
  }
}

.product__infotext .more h4 {
  color: #806e28;
  padding-top: 10px;
}

.product__infotext .more p {
  padding-top: 15px;
}

.login {
  background-image: none;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

@media (max-width: 47.5em) {
  .login__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0;
  }
}

.login__signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.login__signin h2 {
  text-align: start;
}

.login__signin_form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Chrome/Opera/Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */
}

.login__signin_form input {
  background-color: #f8f4ef;
}

.login__signin_form ::-webkit-input-placeholder {
  color: #806e28;
}

.login__signin_form ::-moz-placeholder {
  color: #806e28;
}

.login__signin_form :-ms-input-placeholder {
  color: #806e28;
}

.login__signin_form :-moz-placeholder {
  color: #806e28;
}

.login__signin_submitbutton {
  margin-top: 3em;
}

.login__signin_submitbutton button {
  border: none;
  text-decoration: none;
  background-color: white;
  color: #ffb600;
  padding: 15px 30px;
  border: 3px solid #ffb600;
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

.login__signin_submitbutton button:hover {
  background-color: #ffb600;
}

.login__signin_submitbutton button:hover p {
  color: white;
}

.login__signin_submitbutton button:hover a {
  color: white;
}

.login__signin_submitbutton button p {
  font-size: 16px;
  color: #ffb600;
}

.login__signin_submitbutton button a {
  font-size: 16px;
  color: #ffb600;
}

.login__signin_forgotpasswordbutton {
  padding: 1em 0;
}

.login__signin_forgotpasswordbutton a {
  color: #ffb600;
}

.login__seperator {
  width: 1px;
  margin: 0 3em;
  background-color: #ccb560;
}

@media (max-width: 47.5em) {
  .login__seperator {
    display: none;
  }
}

.shop {
  position: relative;
}

.shop h2 {
  color: #806e28;
}

.shop__floatingbg {
  position: absolute;
  width: 50%;
  height: auto;
  top: 0%;
  right: 20%;
}

.shop__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  border-radius: 6px;
}

.shop__card img {
  z-index: 0;
  width: 100%;
  height: auto;
}

.shop__text_container {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1em 0;
}

.shop__text_container p {
  width: 100%;
  z-index: 3;
  padding: 6px 0;
  text-align: center;
  font-size: 16px;
}

.shop__hover_effect p {
  color: #1d1b3e !important;
}

.shop__image_hover img {
  z-index: -4 !important;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=style.css.map */